@import "tailwindcss";

:root {
  --background: #050505;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

@keyframes gradient-x {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes shake {

  0%,
  100% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-5px);
  }

  75% {
    transform: translateX(5px);
  }
}

@keyframes slide-out-from-center {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }

  100% {
    transform: translate(-150vw, -50%) scale(0.8);
    opacity: 0;
  }
}

@keyframes slide-out-left {
  0% {
    transform: translateX(0) opacity(1);
  }

  100% {
    transform: translateX(-120vw) opacity(0);
  }
}

@keyframes fly-to-center {
  0% {
    transform: translate(0, 0) scale(1);
    z-index: 50;
  }

  100% {
    transform: translate(calc(-50vw + 208px), 0) scale(1.0);
    z-index: 100;
  }
}

.animate-shimmer {
  animation: shimmer 2s infinite;
}

.animate-gradient-x {
  background-size: 200% 200%;
  animation: gradient-x 3s ease infinite;
}

.animate-slide-out-left {
  animation: slide-out-left 0.6s ease-in-out forwards;
}

.animate-slide-out-from-center {
  animation: slide-out-from-center 0.6s ease-in-out forwards;
}

.animate-fly-to-center {
  animation: fly-to-center 0.6s ease-in-out forwards;
}